CONTEXT_ENGINE_PGVECTOR_DATABASE=context_engine
CONTEXT_ENGINE_PGVECTOR_USERNAME=context_engine
CONTEXT_ENGINE_PGVECTOR_PASSWORD=context_engine
CONTEXT_ENGINE_PGVECTOR_PORT=54339

CONTEXT_ENGINE_REDIS_PASSWORD=context_engine
CONTEXT_ENGINE_REDIS_PORT=63809

CONTEXT_ENGINE_RUN_PGVECTOR_TESTS=0
CONTEXT_ENGINE_RUN_REDIS_TESTS=0
